header {
    .logo-link {
        display: inline-flex;
    }

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2.5rem 0;
        border-bottom: 1px solid var(--gal-c-light-gray);
        margin-bottom: 2.5rem;
    }
}

@media (min-width: 768px) {
    header {
        .container {
            padding: 1.75rem 0;
            margin-bottom: 2.5rem;
        }
    }
}

@media (min-width: 1440px) {
    header {
        .container {
            padding: 2.5rem 0;
        }
    }
}