.slide-view {
    margin-top: 24px;
    margin-bottom: 120px;

    .container {
        display: block
    }

    .slide-hero__view {
        position: absolute;
        top: 16px;
        left: 16px;
        display: flex;
        gap: 14px;
        align-items: center;
        border: none;
        background-color: rgba($color: #000000, $alpha: 0.7546);
        transition: 0.2s background-color ease-in-out;
        padding: 14px 16px;
        color: #fff;
        text-transform: uppercase;
        cursor: pointer;

        span {
            display: flex;
            align-items: center;
            line-height: 90%;
        }

        &:hover {
            background-color: rgba($color: #ffffff, $alpha: 0.2522);
        }
    }
}

.slide-hero {
    position: relative;
    margin-bottom: 0;
    z-index: 1;

    .slide-hero__image {
        width: 100%;
        height: 280px;
        display: block;

        &.slide-hero__image--large {
            display: none;
        }
    }

    .slide-view__artist {
        display: block;
        width: 64px;
        height: 64px;
        margin-left: -12px;
        margin-top: 24px;
    }

    .slide-view__title {
        position: relative;
        top: 0;
        transform: translateY(-50%);
        z-index: 3;
        left: 0;
        background-color: var(--gal-c-white);
        padding: 24px;
        width: calc(100% - 48px);
    }

    .slide-view__name {
        margin-bottom: 8px;
    }

    .slide-view__subtitle {
        color: var(--gal-c-dark-gray);
    }
}

.slide-details {
    position: relative;
    max-width: 100%;
    z-index: 2;
    transform: translateY(-80px);

    .slide-details__year {
        position: absolute;
        top: -60px;
        left: 100px;
        z-index: 3;
        color: var(--gal-c-milk);
    }

    .slide-details__p {
        position: relative;
        padding-top: 0;
        padding-right: 0;
        padding-bottom: 60px;
        z-index: 4;
    }
    .slide-details__a {
        position: relative;
        text-transform: uppercase;
    }
}

@media (min-width: 768px) {
    .slide-view {
        margin-top: 2.5rem;
        margin-bottom: 0;

        .container {
            display: flex;
            justify-content: space-between;
            flex-direction: column;
        }

        .slide-hero__view {
            position: absolute;
            top: initial;
            bottom: 16px;
            left: 16px;
        }
    }

    .slide-hero {
        margin-bottom: 64px;

        .slide-hero__image {
            width: 475px;
            height: 560px;

            &.slide-hero__image--large {
                display: block;
            }
            &.slide-hero__image--small {
                display: none;
            }
        }

        .slide-view__artist {
            top: 100%;
            left: 273px;
        }

        .slide-view__artist {
            width: 128px;
            height: 128px;
            position: absolute;
            top: 100%;
            left: 273px;
            margin: 0;
        }

        .slide-view__title {
            position: absolute;
            transform: none;
            top: 0;
            left: 243px;
            background-color: var(--gal-c-white);
            padding: 0 0 64px 65px;
            width: 445px;
        }

        .slide-view__name {
            margin-bottom: 24px;
        }
    }

    .slide-details {
        max-width: 570px;
        margin-bottom: 170px;
        transform: none;

        .slide-details__year {
            top: 0;
            left: 0;
        }

        .slide-details__p {
            padding-top: 75px;
            padding-right: 0;
            padding-bottom: 40px;
            padding-left: 115px;
        }

        .slide-details__a {
            left: 115px;
        }
    }
  }
  
  @media (min-width: 1440px) {
    .slide-view {
        margin-top: 6.25rem;

        .container {
            flex-direction: row;
        }
    }

    .slide-hero {
        margin-bottom: 236px;

        .slide-view__title {
            left: calc(100% - 64px);
        }

        .slide-view__artist {
            top: 496px;
            left: 90px;
        }
    }

    .slide-details {
        max-width: 475px;
        margin-bottom: 0;

        .slide-details__year {
            top: 0;
            left: initial;
            right: 0;
        }

        .slide-details__p {
            padding-top: 115px;
            padding-right: 125px;
            padding-bottom: 80px;
            padding-left: 0;
        }

        .slide-details__a {
            left: 0;
        }
    }
  }
  