/* color palette from <https://github.com/vuejs/theme> */
:root {
  --gal-c-white: #ffffff;
  --gal-c-black: #000000;
  --gal-c-dark-gray: #7d7d7d;
  --gal-c-light-gray: #e5e5e5;
  --gal-c-milk: #f3f3f3;
}

@media (prefers-color-scheme: dark) {
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  color: var(--color-text);
  background: var(--color-background);
  line-height: 2;
  font-family: "Libre Baskerville", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
