@import "./fonts.css";
@import "./base.css";
@import "./scss/header.scss";
@import "./scss/gallery-card.scss";
@import "./scss/slide-main.scss";
@import "./scss/slide-footer.scss";
@import "./scss/preview-modal.scss";

#app {
  min-height: 100vh;
}

.container {
  max-width: 1360px;
  margin: 0 auto;
  padding: 0;
  position: relative;
}

.text-display {
  font-size: 200px;
  font-weight: 700;
  line-height: 150px;
  margin: 0;
}

/* Heading 1 */
h1 {
  font-size: 56px;
  font-weight: 700;
  line-height: 64px;
  margin: 0;
}

/* Heading 2 */
h2 {
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  margin: 0;
}

/* Heading 3 */
h3 {
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  margin: 0;
}

/* Subhead 1 */
h4,
.text-subhead-1 {
  font-size: 15px;
  line-height: 19px;
  margin: 0;
}

/* Subhead 2 */
h5,
.text-subhead-2 {
  font-size: 13px;
  line-height: 17px;
  margin: 0;
}

p {
  font-weight: 700;
  color: var(--gal-c-dark-gray);
}

a {
  text-decoration: none;
  transition: 0.4s;
  padding: 0;
  color: var(--gal-c-dark-gray);
}

.text-link-1 {
  font-weight: 700;
  font-size: 12px;
  line-height: normal;
  letter-spacing: 0.16069rem;
  margin: 0;
}

.text-link-2 {
  text-decoration: underline;
  font-weight: 700;
  font-size: 9px;
  line-height: normal;
  letter-spacing: 0.12056rem;
  margin: 0;
}

.text-button {
  font-family: "Libre Baskerville", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2.143px;
}

@media (hover: hover) {
  a:hover {
    color: var(--gal-c-black);
  }
}

@media (min-width: 1024px) {
}
